{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Produits</title>
    <link rel="stylesheet" href="{% static 'boutique/css/bootstrap.min.css' %}">

</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Liste des Produits</h1>
        <div class="row g-4">
            {% for produit in produits %}
                <div class="col-md-4">
                    <div class="card h-100">
                        {% if produit.image %}
                            <img src="{{ produit.image.url }}" class="card-img-top" alt="{{ produit.nom }}">
                        {% else %}
                            {% comment %} <img src="https://via.placeholder.com/300x200?text=No+Image" class="card-img-top" alt="Image placeholder"> {% endcomment %}
                            Pas d'image
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.nom }}</h5>
                            <p class="card-text">{{ produit.description|truncatechars:100 }}</p>
                            <p class="card-text"><strong>Prix :</strong> {{ produit.prix }} FCFA</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'boutique/js/bootstrap.min.js' %}"></script>
</body>
</html>
